/* Definindo o fundo preto e texto branco */
body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

/* Estilizando o cabeçalho */
header h1 {
    text-align: center;
    color: #fff;
    font-size: 36px;
}

/* Estilizando a introdução */
.intro h2 {
    color: #8A2BE2; /* Cor roxa para título */
    font-size: 28px;
}

.intro p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Estilizando as opções de links */
.options {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.options a {
    color: #8A2BE2; /* Cor roxa para os links */
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border: 2px solid #8A2BE2;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.options a:hover {
    background-color: #8A2BE2;
    color: #fff;
}